<p id="notice"><%= notice %></p>

<p>
  <strong>Discount name:</strong>
  <%= @distype.discount_name %>
</p>


<p>
  <strong>Discount amount:</strong>
  <%= @distype.discount_amount %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @distype.unit %>
</p>

<p>
  <strong>Start:</strong>
  <%= @distype.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @distype.end %>
</p>

<%= link_to 'Edit', edit_distype_path(@distype) %> |
<%= link_to 'Back', distypes_path %>
